<header>
  <h1>Weather for <%= @city %></h1>
</header>
<section class="current">
  <img src="images/<%= @weather.current.icon %>.png" />
  <h1><%= @weather.current.temperature.c %>°C</h1>
</section>
<section class="forecasting">
  <h1 class="clear">Forecasting:</h1>
  <% @weather.forecast.each do |f| %>
    <div class="item">
      <h4><%= Time.new(f.valid_start_date.year, f.valid_start_date.month, f.valid_start_date.day).strftime "%a" %></h4>
      <img src="images/<%= f.icon %>.png" width="80" />
      <br />
      <b><%= f.high.c %>°</b>
      <%= f.low.c %>°
    </div>
  <% end %>
  <div class="clear"></div>
</section>